<html>
<title>
    Vehicle Details
</title>

<body>
    <h1 class="container display-2 txt-center">Vehicle you searched for : {{vehicle.vehicleNumber}}</h1>
    <h4 class="text-danger text-center">{{error}}</h4>
    <h5 class="text-center">Engine Number = {{vehicle.engineNumber}}</h5>
    <h5 class="text-center">Chassis Number = {{vehicle.chassisNumber}}</h5><br>

    <!-- <div class="container">
        <div class="row">
            <div class="col">
                <div>Location</div>
            </div>
            <div class="col">
                <div>Date</div>
            </div>
            <div class="col">
                <div>Username</div>
            </div>
        </div>
    </div> -->

    <ol>
        {% for l in location %}
        <ul>location : {{l.policeStation}}</ul>
        <ul>date : {{l.date}}</ul>
        <ul> by: {{l.username}}</ul>
        <br>
        {% else %}
        <li><em>no vehicle found</em></li>
        {% endfor %}
    </ol>
</body>

</html>