<html>
<title>
    Vehicle Details
</title>

<body>
    <h1>Vehicle you searched for : {{vehicle.vehicleNumber}}</h1>
    <h4>{{error}}</h4>
    <h5>Engine Number = {{vehicle.engineNumber}}</h5>
    <h5>Chassis Number = {{vehicle.chassisNumber}}</h5><br>
    <ol>
        {% for l in location %}
        <ul>location : {{l.policeStation}}</ul>
        <ul>date : {{l.date}}</ul>
        <ul> by: {{l.username}}</ul>
        <br>
        {% else %}
        <li><em>no vehicle found</em></li>
        {% endfor %}
    </ol>
</body>

</html>