<html>

<head>
    <title>
        Vehicle Details
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>


<body>
    <div class="bg-image" style="
    background-image: url('bg.jpg'); height:100vh
    ">
        <h1 class=" display-4 container txt-center">Vehicle you searched for : {{vehicle.vehicleNumber}}</h1>
        <h4 class="text-danger text-center">{{error}}</h4>
        <h5 class="text-center">Engine Number = {{vehicle.engineNumber}}</h5>
        <h5 class="text-center">Chassis Number = {{vehicle.chassisNumber}}</h5><br>


        <!-- <ol>
    {% for l in location %}
    <ul>location : {{l.policeStation}}</ul>
    <ul>date : {{l.date}}</ul>
    <ul> by: {{l.username}}</ul>
    <br>
    {% else %}
    <li><em>no vehicle found</em></li>
    {% endfor %}
    </ol> -->

        <table class="table table-bordered table-dark table-striped container">
            <thead>
                <tr>
                    <th scope="rowgroup">....</th>
                    <th scope="colgroup">Locations</th>
                    <th scope="colgroup">Date</th>
                    <th scope="colgroup">Username</th>
                </tr>
            </thead>
            <tbody>
                {% for l in location %}
                <tr class="p-5">
                    <th scope="row">#</th>
                    <td scope="col"> {{l.policeStation}} </td>
                    <td scope="col"> {{l.date}} </td>
                    <td scope="col"> {{l.username}} </td>
                </tr>
                {% else %}
                <li><em>no vehicle found</em></li>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>